{% extends 'tapasapp/base.html' %}
{% load static %}

                {% block content %}
                    <h2> Account Settings </h2>
                    <p> Username: {{ user_obj.username }} </p>
                
                    <a href="{% url 'change_password' pk=user_obj.pk %}" class="btn btn-warning">
                    Change Password
                    </a>

                    <form action="{% url 'delete_account' pk=user_obj.pk %}" method="post">
                        {% csrf token %}
                        <button type="submit" class="btn btn-danger">
                            Delete Account
                        </button>
                    </form>
                    
                {% endblock %}