{% extends 'tapasapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title"> Change Password: </h5>
        </div>
        <div class="card-body">

            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'change_password' pk=user_obj.pk %}">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="current_password"> Current Password: </label>
                    <input type="password" class="form-control" id="current_password" name="current_password">
                </div>
                <div class="form-group mb-3">
                    <label for="new_password"> New Password: </label>
                    <input type="password" class="form-control" id="new_password" name="new_password">
                </div>
                <div class="form-group mb-3">
                    <label for="confirm_password"> Confirm Password: </label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                </div>
                <button type="submit" class="btn btn-primary"> Change Password </button>
                <a href="{% url 'manage_account' pk=user_obj.pk %}" class="btn btn-secondary"> Cancel </a>
            </form>
        </div>
    </div>

</div>

 {% endblock %}