{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="card-header">
            Input in Bottle Details:
        </div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}

                <div class="mb-3">
                    <label>SKU:</label>
                    <input type="text" class="form-control" name="sku">
                </div>
                <div class="mb-3">
                    <label>Brand:</label>
                    <input type="text" class="form-control" name="brand">
                </div>
                <div class="mb-3">
                    <label>Cost:</label>
                    <input type="number" class="form-control" name="cost">
                </div>
                <div class="mb-3">
                    <label>Size:</label>
                    <input type="text" class="form-control" name="size">
                </div>
                <div class="mb-3">
                    <label>Mouth Size:</label>
                    <input type="text" class="form-control" name="mouth_size">
                </div>
                <div class="mb-3">
                    <label>Color:</label>
                    <input type="text" class="form-control" name="color">
                </div>
                <div class="mb-3">
                    <label>Current Quantity:</label>
                    <input type="number" class="form-control" name="current_quantity">
                </div>
                <div class ="mb-3">
                    <label for="supplier">Supplied by</label>
                    <select class="form-select" name="supplied_by" id="supplier">
                        <option value=""> Select a Supplier --</option>
                        {% for supplier in suppliers %}
                            <option value="{{ supplier.pk. }}">{% for supplier in suppliers %}{{ supplier.nam }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="d-flex gap-2">
                    <button type="submit" class="btn btn-secondary">Add Bottle</button>
                    
                    <a href="{% url 'view_supplier' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}