{% extends 'MyInventoryApp/base.html' %}

{% block content %}
    <h2>List of Suppliers</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>City</th>
                <th>Country</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for supplier in suppliers %}
                <tr>
                    <td> 
                        <a href="{% url 'bottles' supplier.id %}">{{supplier.name}}</a>
                    </td>
                    <td>{{ supplier.name }}</td>
                    <td>{{ supplier.city }}</td>
                    <td>{{ supplier.country }}</td>
                    <td>{{ supplier.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        <a href="{% url 'add_bottles' %}" class="btn btn-primary"> Add Water </a>
        <a href="{% url 'manage_account' %}" class="btn btn-primary"> Manage Account </a>
        <a href="{% url 'logout' %}" class="btn btn-danger"> Manage Account </a>
    </div>
{% endblock %}